{% load static %}


<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
      <nav class="pull-left">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="">
              TOOLS4U
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Help </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Licenses </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        2024, made by <i class="fa fa-heart heart text-danger">TOOLS4U</i> 
        <a href=""></a>
      </div>
      <div>
        Distributed by
        <a target="_blank" href="">TOOLS4U</a>.
      </div>
    </div>
  </footer>
<script src="{% static 'Seller/assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'Seller/assets/js/core/bootstrap.min.js' %}"></script>

<!-- jQuery Scrollbar -->
<script src="{% static 'Seller/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>

<!-- Chart JS -->
<script src="{% static 'Seller/assets/js/plugin/chart.js/chart.min.js' %}"></script>

<!-- jQuery Sparkline -->
<script src="{% static 'Seller/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js' %}"></script>

<!-- Chart Circle -->
<script src="{% static 'Seller/assets/js/plugin/chart-circle/circles.min.js' %}"></script>

<!-- Datatables -->
<script src="{% static 'Seller/assets/js/plugin/datatables/datatables.min.js' %}"></script>

<!-- Bootstrap Notify -->
<script src="{% static 'Seller/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

<!-- jQuery Vector Maps -->
<script src="{% static 'Seller/assets/js/plugin/jsvectormap/jsvectormap.min.js' %}"></script>
<script src="{% static 'Seller/assets/js/plugin/jsvectormap/world.js' %}"></script>

<!-- Sweet Alert -->
<script src="{% static 'Seller/assets/js/plugin/sweetalert/sweetalert.min.js' %}"></script>

<!-- Kaiadmin JS -->
<script src="{% static 'Seller/assets/js/kaiadmin.min.js' %}"></script>

<!-- jQuery (Ensure this is loaded before Bootstrap JS) -->
<script src="{% static 'jquery-3.7.1.min.js' %}"></script>

<!-- Popper.js (Required for Bootstrap dropdowns and modals) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>