{% include 'Admin/Header.html' %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class="icofont icofont-file-code bg-c-blue"></i>
                                <div class="d-inline">
                                    <h4>Seller View Table</h4>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">
                                            <i class="icofont icofont-home"></i>
                                        </a>
                                    </li>
                                    <!-- <li class="breadcrumb-item"><a href="#!">Form Components</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Form Components</a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page-header end -->
                <div class="card">
                    <div class="card-header">
                        <h5>Seller table</h5>
                        <div class="card-header-right">
                        <ul class="list-unstyled card-option">        
                        <li><i class="icofont icofont-simple-left "></i></li>        
                        <li><i class="icofont icofont-maximize full-card"></i></li>        
                        <li><i class="icofont icofont-minus minimize-card"></i></li>        
                        <li><i class="icofont icofont-refresh reload-card"></i></li>        
                        <li><i class="icofont icofont-error close-card"></i></li>    
                    </ul></div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Seller Name</th>
                                        <th>Seller Image</th>
                                        <th>Seller Phone</th>
                                        <th>Seller Email</th>
                                        <th>Seller ID Proof</th>
                                        <th>Seller Location</th>
                                        <th>Seller Reg Date</th>
                                        <th>Accept</th>
                                        <th>Reject</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for s in seller %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{s.seller_name}}</td> 
                                        <td><img src="/Images/{{s.seller_image}}" style="width: 100px;height: 60px;"></td>
                                        <td>{{s.seller_phone}}</td> 
                                        <td>{{s.seller_email}}</td> 
                                        <td><img src="/Images/{{s.seller_idproof}}" style="width: 100px;height: 60px;"></td>
                                        <td>{{s.seller_location__location_name}}</td> 
                                        <td>{{s.seller_regdate}}</td>
                                        <td><a href="{% url 'sellerAccept' loginid=s.seller_loginid__loginid %}"><button class="btn btn-warning">Accept</button></a></td>
                                        <td><a href="{% url 'sellerReject' loginid=s.seller_loginid__loginid %}" 
                                            onclick = "return confirm('Do You Want To Reject?')"
                                            class="btn btn-danger">Rejuct</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                                    </form>

{% include 'Admin/Footer.html' %}


