
{% include 'User/Header.html' %}


        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Purchased Products</h1>
            
        </div>
        <!-- Single Page Header End -->


        <!-- Cart Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Products image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Purchased date</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Customer name</th>
                            <th scope="col">package Tracking</th>
                          </tr>
                        </thead>
                        {% for p in pproducts %}
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="d-flex align-items-center">
                                        <img src="/Images/{{ p.ppayment_purchaserequestid__purchase_toolid__tool_photo }}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                    </div>
                                </th>
                                <td>
                                    <p class="mb-0 mt-4">{{ p.ppayment_purchaserequestid__purchase_toolid__tool_name }}</p>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4">{{p.ppayment_date}}</p>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4">{{p.ppayment_purchaserequestid__purchase_quantity}}</p> 
                                </td>
                                <td>
                                    <p class="mb-0 mt-4">{{p.ppayment_amount}}</p>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4">{{p.ppayment_purchaserequestid__purchase_userid__user_name}}</p>
                                </td>
                                <td>
                                    <a class="btn btn-success" href="{% url 'packageTracking' p.ppayment_id %}">Track package</a>
                                </tr>
                            </tr>
                            
                        </tbody>
                        {% endfor %}
                    </table>
                </div>

                
            </div>
        </div>
        <!-- Cart Page End -->


 
{% include 'User/Footer.html' %}